<section id="About" class="container-fluid">
	<div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
		<div class="col-xs-4">
			<img src="/css/images/Color.jpg">
		</div>
		<div class="col-xs-8">
			<p><b>Hi, I'm Alex</b>, a Seattle-based web developer with roots in the creative side of advertising. As a former ArtDirector, I love to take a client’s (often vague) direction and create a viable, attractive solution that brings their vision to life. Now, as a web developer, I leverage my creativity and problem-solving skills, along with design sense and attention to detail, to create web-based solutions that are practical, user-friendly and easy on the eye.
			<br><br>
			On a more personal note, I love soccer, food, music, hiking / backpacking / canoeing, movies, running, and so on. If you'd like to get in touch, jump straight to my <a ng-click="toContact()" href="#Contact">contact info</a>.</p>
		</div>
	</div>
</section>