<div id="container-fluid" du-scroll-container>
	<header>
	<img src="/css/images/Stars.jpg" class="bg">
		<div class="container-fluid">
			<div class="typeContain col-xs-12">
			 	<p typewrite type-delay="100" blink-cursor="true" text="['HELLO, AND WELCOME','FEEL FREE TO GET IN TOUCH','LETS MAKE AMAZING THINGS TOGETHER']"></p>
			</div>
		</div>
	</header>
	<section id="About" class="container-fluid">
		<div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
			<div class="col-xs-4">
				<img src="/css/images/Color.jpg">
			</div>
			<div class="col-xs-8">
				<p><b>Hi, I'm Alex</b>, a Seattle-based web developer with roots in the creative side of advertising. As a former Art Director, I 	love to take a client’s (often vague) direction and create a viable, attractive solution that brings their vision to life. Now as a web developer, I leverage my creativity and problem-solving skills, along with design sense and attention to detail, to create web-based solutions that are practical, user-friendly and easy on the eye.
				<br><br>
				On a more personal note, I enjoy soccer, food, music, hiking / backpacking / canoeing, movies, running, and so on. If you'd like to get in touch, jump straight to my <a ng-click="toContact()" href="#Contact">contact info</a>.</p>
			</div>
		</div>
	</section>
	<section id="Work">
		<div class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" id="sectionHead">
			<h2>RECENT WORK</h2>
			<hr>
			<p>HOVER OVER DESCRIPTION FOR SAMPLE DISPLAY</p>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
			<div class="col-xs-7" id="imgShow">
				<img src="/css/images/iMacBlk.png" id="iMac">
				<img src="/css/images/WAY.jpg" class="hide shownImg" id="WAY">
				<img src="/css/images/RR.jpg" class="hide shownImg" id="RR">
				<img src="/css/images/FF.jpg" class="hide shownImg" id="FF">	
			</div>
			<div class="col-xs-1 spacer"></div>
			<div class="col-xs-4">
				<div id="WAYthumb" class="row thumbs">
					<h4>WHO ARE YA</h4>
					<hr>
					<p>AN ENGLISH PREMIER LEAGUE STATS GENERATOR, SCORE PREDICTOR AND FANZONE, UTILIZING MY OWN API.</p>
					<div class="row CDbuttons">
						<a href="https://pure-taiga-2174.herokuapp.com/" class="demoButton">DEMO</a>
						<a href="https://github.com/alexwinn520/Who_Are_Ya" class="codeButton">CODE</a>
					</div>
				</div>
				<div id="RRthumb" class="row thumbs">
					<h4>RENT RABBIT</h4>
					<hr>
					<p>A MARKETPLACE TO RENT USED ELECTRONICS. BUILT BY AN AWESOME TEAM OF 4: <a href="https://github.com/egervais7" class="innerA">ED GERVAIS</a>, <a href="https://github.com/jamesjchi" class="innerA">JAMES CHI</a>, <a href="https://github.com/s-d-c" class="innerA">SETH CHUTE</a> AND MYSELF.</p>
					<div class="row CDbuttons">
						<a href="https://rent-rabbit.herokuapp.com/" class="demoButton">DEMO</a>
						<a href="https://github.com/alexwinn520/rent-rabbit" class="codeButton">CODE</a>
					</div>
				</div>
				<div id="FFthumb" class="row thumbs">
					<h4>FOOD&FIT</h4>
					<hr>
					<p>NUTRITION INFO BUDDY AND WORKOUT ASSISTANT UTILIZING YOUTUBE'S API, A NUTRITION CALCULATOR AND NUTRITION API.</p>
					<div class="row CDbuttons">
						<a href="https://busy-fit.herokuapp.com/" class="demoButton">DEMO</a>
						<a href="https://github.com/alexwinn520/Food-Fit" class="codeButton">CODE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-10 col-sm-10 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2" id="artDirector">
				<h4>I AM ALSO FORMERLY AN ART DIRECTOR. MUCH OF MY ADVERTISING WORK CAN BE VIEWED AT <a href="http://alexwinnwork.com/" class="innerA">ALEXWINNWORK.COM</a></h4>
		</div>
	</section>
	<section id="Skills">	
		<div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
			<h2>SKILLS</h2>
				<hr>
				<div class="row">
					<div class="col-xs-2 logoHold">
						<img src="/css/images/HTML.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/CSS.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/JS.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/JQuery.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Angular.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Node.svg">
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Ruby.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/RubyOnRails.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Mongo.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Postgresql.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/PS.svg">
					</div>
					<div class="col-xs-2 logoHold">
						<img src="/css/images/Ai.svg">
					</div>
				</div>
		</div>
	</section>
	<section id="Contact">
		<div class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" id="sectionHead">
			<h2>CONTACT</h2>
			<hr>
			<h4>PLEASE REACH OUT, I'D BE HAPPY TO TALK</h4>
		</div>
			<div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3" id="contactLogoHolder">
			<div class="row">
				<a href="mailto:alex.winn520@gmail.com">
					<div class="col-xs-3 contactImgs" id="mailDiv">
						<img src="/css/images/Email.svg" id="mailImg">
						<p id="mailP" class="hide">EMAIL</p>
					</div>
				</a>
				<a href="https://www.linkedin.com/in/alex-winn-65091b4b">
					<div class="col-xs-3 contactImgs" id="linkinDiv">
						<img src="/css/images/LinkedIn.svg" id="linkinImg">
						<p id="linkinP" class="hide">LINKEDIN</p>
					</div>
				</a>
				<a href="https://github.com/alexwinn520">
					<div class="col-xs-3 contactImgs"  id="gitDiv">
						<img src="/css/images/Github.svg" id="gitImg">
						<p id="gitP" class="hide">GITHUB</p>
					</div>
				</a>
				<a href="https://resume.creddle.io/resume/bn6cuz3xxp0">	
					<div class="col-xs-3 contactImgs" id="resumeDiv">
						<img src="/css/images/Resume.svg" id="resumeImg">
						<p id="resumeP" class="hide">RESUME</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section>
		<div id="foot">
			<p class="col-xs-12">ALEX WINN 2016</p>
		</div>
	</section>
</div>