<section id="Skills">	
	<div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
		<h2>SKILLS</h2>
			<hr>
			<div class="row">
				<div class="col-xs-2 logoHold">
					<img src="/css/images/HTML.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/CSS.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/JS.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/JQuery.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Angular.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Node.svg">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Ruby.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/RubyOnRails.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Mongo.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Postgresql.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/PS.svg">
				</div>
				<div class="col-xs-2 logoHold">
					<img src="/css/images/Ai.svg">
				</div>
			</div>
	</div>
</section>